mat-icon {
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.5);
      opacity: 0.5;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  